.battleship-game {
  background: #6AB1D8;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20px auto 35px 35px;
  grid-template-rows: auto 300px;
}

.player-controls {
  background: grey;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.gameboard {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  /*padding: 2rem 0.5rem;*/
}

.player-controls {
  padding-top: 1rem;
  border-radius: 1rem 0 0 0;
}

.enemy-grid {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}

.player-grid {
  /* position: relative; */
  background: rgba(255, 255, 255, 0.1);
}

.ship {
  /* position: absolute; */
  background: rgba(255, 255, 255, 0.4);
}

.interactive-grid {
  display: flex;
  flex-flow: row wrap;
}

.interactive-grid > .grid-cell {
  flex: 0 1 10%;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.interactive-grid > .grid-cell::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.button {
  outline: none;
  border: none;
}

.button.circular {
  border-radius: 50%;
  padding: 1rem 0.4rem;
}

.fire-button {
  background: red;
  color: white;
  letter-spacing: 2px;
}
